################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/ManicStreetCoder.AzureDashform/bin/Debug
