################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/ManicStreetCoder.AzureDashform/bin/Debug
/Source/ManicStreetCoder.AzureDashform/obj/Debug
*.user
/Source/ManicStreetCoder.AzureDashform/.vs/ManicStreetCoder.AzureDashform/v14
